PL_MVC/Connected Services/EmpresaSoap2/Empresa.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Empresa" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56138/Empresa.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56138/Empresa.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56138/Empresa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ML" />
      <xsd:import schemaLocation="http://localhost:56138/Empresa.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:56138/Empresa.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpresa_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_EmpresaAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:EmpresaAdd" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_EmpresaAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmpresaAddResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_EmpresaUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:EmpresaUpdate" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_EmpresaUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmpresaUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpresa">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/DoWork" message="tns:IEmpresa_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/DoWorkResponse" message="tns:IEmpresa_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmpresaAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/EmpresaAdd" message="tns:IEmpresa_EmpresaAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/EmpresaAddResponse" message="tns:IEmpresa_EmpresaAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmpresaUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/EmpresaUpdate" message="tns:IEmpresa_EmpresaUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/EmpresaUpdateResponse" message="tns:IEmpresa_EmpresaUpdate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmpresa" type="tns:IEmpresa">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmpresaAdd">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/EmpresaAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmpresaUpdate">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/EmpresaUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Empresa">
    <wsdl:port name="BasicHttpBinding_IEmpresa" binding="tns:BasicHttpBinding_IEmpresa">
      <soap:address location="http://localhost:56138/Empresa.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>